<% if @item.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.to_s.underscore.humanize.downcase %> from being saved:</h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
